@page

@{
    ViewData["Title"] = "Sobre Nós";
}

<section>
    <div class="container">
        <h1 class="mt-3 pt-3">Sobre a RadRider</h1>
        <p class="mt-3">O seu destino definitivo para tudo o que você precisa para dominar o asfalto sobre quatro rodas!<br/>
            Aqui, a nossa paixão pelo skate transcende as barreiras da tela, e estamos empenhados em criar uma experiência
            de compra online que celebre a cultura do skate e atenda às necessidades de skatistas de todas as idades e níveis de habilidade.</p>
    </div>
    
    <div class="parallax">
        <div class="container">
            <h1 class="text-center text-light">
                Nossos ideais
            </h1>
            <div class="grid-about-us mt-3 pt-3">
                <div class="p-3 bg-light">
                    <h2>
                        Conectar, Inspirar e Equipar:
                    </h2>
                    <p>
                        Nossa missão é criar conexões significativas na comunidade do skate.
                        Queremos inspirar novos talentos e apoiar os skatistas experientes, sendo mais do que apenas uma loja de equipamentos.
                        Buscamos promover a cultura do skate, celebrando sua essência como uma forma de vida e expressão individual.
                    </p>
                </div>
                <div class="p-3 bg-light">
                    <h2>
                        Skate é Liberdade:
                    </h2>
                    <p>
                        Acreditamos profundamente que o skate vai além de manobras e truques.
                        É uma manifestação de liberdade, uma arte que desafia fronteiras e permite a criação de jornadas pessoais.
                        É a sensação do vento no rosto e a expressão autêntica da individualidade em movimento.
                    </p>
                </div>

                <div class="p-3 bg-light">
                    <h2>
                        Qualidade e Comunidade:
                    </h2>
                    <p>
                        Queremos transformar cada sessão de skate em uma experiência memorável,
                        disponibilizando uma seleção cuidadosamente curada skates.
                        Nossa comunidade é inclusiva, atendendo desde entusiastas iniciantes até skatistas profissionais.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-bottom: -32px;">
        <p>
            Estamos aqui para enriquecer essa jornada e celebrar a vida sobre quatro rodas.<br/>
            Bem-vindo(a) à RadRider, onde cada manobra é uma experiência única e cada skatista é parte de uma comunidade vibrante.
        </p>
    </div>
</section>


