@page
@model IndexModel
@{
    ViewData["Title"] = "Início";
}

@* BANNER *@
<section class="z-0 mt-n5">
    <div class="banner bg-secondary">
    </div>
</section>
@* /BANNER *@

@* SKATE CARD *@
<div class="row justify-content-md-center">
    @foreach (var skate in Model.SkateList)
    {
        <div class="card col-3 m-3">
            <img src="@skate.ImagePath" class="p-3" style="border-radius: 25px">
            <div class="card-body">
                <h5 class="card-title">@skate.Name</h5>
                <p class="card-text">@Html.DisplayFor(model => skate.Price)</p>
                <a class="btn-buy btn-primary text-uppercase"
                   asp-page="/SkateDetails"
                   asp-route-id="@skate.Id"
                   >Comprar</a>
            </div>
        </div>
    }
</div>
@* /SKATE CARD *@