@page

@{
    ViewData["Title"] = "Política de Privacidade";
}

<section class="container" style="margin-bottom: -32px;">
    <div>
        <h1 class="mt-3 pt-3">
            Política de Privacidade
        </h1>
        <h2 class="mt-3">
            Informações Coletadas
        </h2>
        <p class="mt-3">
            Coletamos informações pessoais, como nome, endereço de e-mail e informações de pagamento, quando você faz uma compra em nossa loja.
            Também coletamos informações de uso do site, como endereços IP e cookies, para melhorar a experiência do usuário e a segurança.
        </p>
        
        <h2 class="mt-3">
            Uso de Informações Pessoais
        </h2>
        <p class="mt-3">
            Utilizamos suas informações pessoais para processar pedidos, enviar atualizações sobre pedidos, responder a consultas e fornecer suporte ao cliente.
            Não compartilhamos suas informações pessoais com terceiros sem o seu consentimento.
        </p>
        
        <h2 class="mt-3">
            Direitos do Usuário
        </h2>
        <p class="mt-3">
            Você tem o direito de acessar, corrigir e solicitar a exclusão de suas informações pessoais.
            Se desejar exercer esses direitos ou tiver dúvidas sobre o processamento de seus dados, entre em contato conosco.
            Estamos comprometidos em atender às suas solicitações de maneira adequada e oportuna.
        </p>
        
        <h2 class="mt-3">
            Segurança
        </h2>
        <p class="mt-3">
            Tomamos medidas para proteger suas informações pessoais e garantir a segurança de suas transações.
            Usamos criptografia para proteger informações sensíveis durante a transmissão.
        </p>
        
        <h2 class="mt-3">
            Cookies
        </h2>
        <p class="mt-3">
            Utilizamos cookies para melhorar a funcionalidade do site e personalizar sua experiência.
            Você pode controlar o uso de cookies nas configurações do seu navegador.
        </p>
        
        <h2 class="mt-3">
            Alterações na Política de Privacidade
        </h2>
        <p class="mt-3">
            Reservamo-nos o direito de fazer alterações nesta política a qualquer momento.
            Quaisquer alterações serão publicadas nesta página.
        </p>
        
    </div>

</section>